@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme {
  --font-sans:
    "Inter", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

html,
body {
  @apply bg-white dark:bg-gray-950;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background-dark: var(--background-dark);
  --color-background: var(--background);
  --color-background-light: var(--background-light);
  --color-background-reverse-dark: var(--background-reverse-dark);
  --color-background-reverse: var(--background-reverse);
  --color-background-reverse-light: var(--background-reverse-light);
  --color-text: var(--text);
  --color-text-muted: var(--text-muted);
  --color-text-reverse: var(--text-reverse);
  --color-highlight: var(--highlight);
  --color-border: var(--border);
  --color-border-muted: var(--border-muted);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-danger: var(--danger);
  --color-warning: var(--warning);
  --color-success: var(--success);
  --color-info: var(--info);
  --color-target-card: var(--target-card);
}

:root {
  --radius: 0.625rem;
  --background-dark: oklch(0.92 0 0);
  --background: oklch(0.96 0 0);
  --background-light: oklch(1 0 0);
  --background-reverse-dark: oklch(0.1 0 0);
  --background-reverse: oklch(0.15 0 0);
  --background-reverse-light: oklch(0.2 0 0);
  --text: oklch(0.15 0 0);
  --text-muted: oklch(0.4 0 0);
  --text-reverse: oklch(0.96 0 0);
  --highlight: oklch(1 0 0);
  --border: oklch(0.6 0 0);
  --border-muted: oklch(0.7 0 0);
  --primary: oklch(0.57 0.16 250);
  --secondary: oklch(0.57 0.16 70);
  --danger: oklch(0.577 0.22 27.325);
  --warning: oklch(0.65 0.25 90);
  --success: oklch(0.538 0.2 142);
  --info: oklch(0.6 0.17 162.48);
  --target-card: oklch(0.97 0.07 103);
}

.dark {
  --background-dark: oklch(0.1 0 0);
  --background: oklch(0.15 0 0);
  --background-light: oklch(0.2 0 0);
  --background-reverse-dark: oklch(0.92 0 0);
  --background-reverse: oklch(0.96 0 0);
  --background-reverse-light: oklch(1 0 0);
  --text: oklch(0.96 0 0);
  --text-muted: oklch(0.76 0 0);
  --text-reverse: oklch(0.15 0 0);
  --highlight: oklch(0.5 0 0);
  --border: oklch(0.4 0 0);
  --border-muted: oklch(0.3 0 0);
  --primary: oklch(0.65 0.15 250);
  --secondary: oklch(0.65 0.15 70);
  --danger: oklch(0.475 0.22 27.325);
  --warning: oklch(0.65 0.25 90);
  --success: oklch(0.538 0.2 142);
  --info: oklch(0.6 0.17 162.48);
  --target-card: oklch(0.3 0.18 103);
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-text;
  }
}
